# Auto detect text files

* text=auto

# Python

*.py text

# Web

*.html text
*.css text
*.js text

# Documentation

*.md text

# Data files

*.csv text

# Images

*.png binary
*.jpg binary
*.jpeg binary

# AI model files

*.pth binary
*.pt binary
*.onnx binary
*.bin binary